@model IEnumerable<EmployeeViewModel>
<div style="background-color:white; padding:10px">

    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h2>Employee <b>Details</b></h2></div>
            <div class="col-sm-4">
                <div class="search-box">
                    <i class="material-icons">&#xE8B6;</i>
                    <form asp-action="Index">

                        <input type="text" class="form-control"
                               id="searchInp"
                        name="searchInp"
                        placeholder="Search&hellip;">
                    </form>
                </div>
            </div>

               
        </div> 
        <div>
            <a href="/Employee/Create" 
            class="btn btn-danger px-1 py-0 m-0">Add New</a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name <i class="fa fa-sort"></i></th>
                    <th>Last Name</th>
                    <th>Photo</th>
                    <th>Address</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Salary</th>
                    <th>Hire Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((value,i)=>new{i ,value}))
                {
                    <tr>
                        <td>@(item.i +1) </td>
                        <td>@item.value.FirstName</td>
                        <td>@item.value.LastName</td>
                        <td>
                            @if (item.value.ImgUrl != null)
                            {
                                <img src="~/Files/Images/@(item.value.ImgUrl)"
                                     class="img-thumbnail rounded-circle"
                                     width="50px"
                                     height="50px"
                                     alt="PhotoProfil" />
                            }
                            else
                            {
                            <img src="~/Files/Images/EmpPhoto.jpg"
                                 class="img-thumbnail rounded-circle"
                                 width="50px"
                                 height="50px"
                                 alt="PhotoProfil" />
                            }
                            
                                
                            
                        </td>
                        <td>@item.value.Address</td>
                        <td>@item.value.Age</td>
                        <td>@Html.DisplayFor(e => item.value.Email)</td>
                        <td>@Html.DisplayFor(e=> item.value.PhoneNumber)</td>
                        <td>@Html.DisplayFor(e=>item.value.Salary)</td>
                        <td>@Html.DisplayFor(e=>item.value.HireDate)</td>
                        <td>
                            <a asp-action="Details" asp-route-Id="@item.value.Id" class="view" title="Details" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                            <a asp-action="Edit" asp-route-Id="@item.value.Id" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a asp-action="Delete" asp-route-Id="@item.value.Id" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                }



            </tbody>
        </table>
    }
    else
    {
        <p class="alert-warning p-2">No records found.</p>
    }


</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchInp').on('keyup', function () {
                let query = $(this).val();
                $.ajax({
                    url: '/Employee/Index',
                    type: 'GET',
                    data: { search: query },
                    success: function (data) {
                        $('#employeeTable').html(data);
                    },
                    error: function () {
                        alert('An error occurred while fetching data.');
                    }
                });
            });
        });
    </script>
}